Click==7.0
data==0.4
dataframe==0.2.1.3
DateTime==4.2
decorator==4.2.1
docker-py==1.10.6
docker-pycreds==0.3.0
docutils==0.14
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
future==0.16.0
gunicorn==19.9.0
gym==0.10.5
h5py==2.8.0
html5lib==1.0.1
imbalanced-learn==0.4.3
imblearn==0.0
incremental==17.5.0
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
matplotlib==2.2.2
nbconvert==5.3.1
numpy==1.16.1
oauthlib==2.1.0
packaging==17.1
panda==0.3.1
pandas==0.24.1
Pillow==5.1.0
prompt-toolkit==2.0.7
py==1.5.2
python-dateutil==2.8.0
requests==2.18.4
requests-oauthlib==1.0.0
retrying==1.3.3
scikit-learn==0.20.2
sklearn==0.0
urllib3==1.22
webencodings==0.5.1
websocket-client==0.53.0
Werkzeug==0.14.1
zope.interface==4.4.3
